<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="home-component.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar-left">
        <img src="assets/images/pngtree-white-house-architecture-design-image_1335029-removebg-preview.png" id="home-img">
        <div class="home"> <label>Home</label></div>

        <img src="assets/images/depositphotos_232794498-stock-illustration-simple-calendar-icon-white-icon-removebg-preview.png" id="calendar-image">
        <div class="calendar" ><button routerLink="calendar" class="button">Calendar</button></div>

        <img src="assets/images/25851934-bianca-icona-di-corridore-silhouette-su-nero-sfondo-sport-logo-modello-jogging-o-salto-moderno-logotipo-concetto-magliette-stampa-tatuagg-removebg-preview.png" id="atleta-img">
        <div class="gestisci-atlete" ><button routerLink="atlete" class="button">Gestisci Atlete</button></div>
        <img src="../../../assets/images/5298178-icona-colore-bianco-concetto-di-squadra-lavorare-insieme-vettoriale-removebg-preview.png" id="squad-image">
        <div class="gestisci-squadre"><button routerLink="squadre" class="button btn btn-link">Gestisci Squadre</button></div>

        <img src="../../../assets/images/39361120-pallavolo-palla-gioco-partita-icona-dello-sport-immagine-vettoriale-può-essere-utilizzato-anche-removebg-preview.png" id="workout-img">
        <div class="programma-allenamenti"><label>Allenamenti</label></div>   
    </div>
</body>
</html>
