<div class="auth-container">
  <div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <label>Email</label>
    <input formControlName="username" type="text" />

    <label>Password</label>
    <input formControlName="password" type="password" />

    <button type="submit">Login</button>
  </form>
</div>

  <form *ngIf="!isLoginMode" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <input formControlName="name" placeholder="Nome" />
    <input formControlName="lastname" placeholder="Cognome" />
    <input formControlName="email" placeholder="Email" type="email" />
    <input formControlName="password" placeholder="Password" type="password" />
    <input formControlName="confirmPassword" placeholder="Conferma Password" type="password" />
    <button type="submit" [disabled]="registerForm.invalid">Registrati</button>
  </form>

  <p (click)="toggleMode()" class="toggle">
    {{ isLoginMode ? 'Non hai un account? Registrati' : 'Hai già un account? Fai login' }}
  </p>
</div>

